.form1{
    background-color: #660000;
    width:300px;
    height:150px;
    border-radius:8px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
}
input.index-page-button{
    border-width: 0px;
    border-color:#660000;
    background-color: #660000;
    font-size: 30px;
    color:#ffcc66;
    padding:5px 10px 5px 10px;
    margin:0px;
    margin-left: 10px;
    border-image: 0;
    height:150px;
    margin-top:0px;
    background-image:none;
    border-style: none;
    border-radius: 8px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    position: relative;
}

input.index-page-button.login{
    border-left-color:#ffffcc;
    border-left-width: 3px;
    border-style: groove;
}
.f1{
    width:295px;
    height:auto;
    background-color:#ffffcc;   
    color:  #660000;
    border:2px solid #660000;
    font-size:15px;
    font-weight: bold;
    padding:5px;
    border-radius:8px;
}

.reservations-div
{
    width:295px;
    height:auto;
    background-color:#ffffcc;   
    color: #660000;
    border-top:2px solid #660000;
    border-bottom:2px solid #660000;
    font-size:15px;
    margin-top:5px;
    margin-left:-5px;
    padding:5px;
}
.reservation-div{

    width:300px;
    height:30px;
    margin:0px;
    padding: 0px;
}
.reservation-details-div{
    width:300px;
    height:85px;
    margin:0px;
    padding:0px;
    background-color:#ffcc66;   
    color:  #660000;
}
input.input-text
{
    width:150px;
    height:15px;
    margin:5px;
    float:right;
}
span.input-text
{
    width:154px;
    height:15px;
    margin:5px;
    float:right;
}
.buttons-div{
    width:300px;
    height:20px;
    padding:10px 0 10px 0;
}
input.add-reservation-button{
    width:75px;
    height:25px;
    font-size:14px;
    color:#ffcc66;
    background-color: #660000;
    float:left;
    border-width: 0px;
    border-color:#660000;
    margin:0px;
    border-image: 0;
    background-image:none;
    border-style: none;
    border-radius: 5px;
    margin-left:10px;
}
input.reserve-button{
    width:75px;
    height:25px;
    font-size:14px;
    color:#ffcc66;
    background-color: #660000;
    float:right;
    border-width: 0px;
    border-color:#660000;
    margin:0px;
    border-image: 0;
    background-image:none;
    border-style: none;
    border-radius: 5px;    
    margin-right: 15px;
}
h2{
    padding: 0px;
    margin:0px;
    font-size:23px;
    padding-bottom: 5px;
}
#login-div{
    width:300px;
    height:135px;
    background-color:#ffffcc;
    color:#660000;
    font-size: 15px;
    border:#660000 solid 2px;
    border-radius: 8px;
    padding:5px;
    font-size:15px;
    font-weight:bold;
}
.login-input{
    width:150px;
    height:20px;
    margin:5px;
}
#login-button{
    width:65px;
    height:30px;
    padding:5px 10px 5px 10px;
    background-color:#ffcc66;
    color:#660000;
    border-width: 2px;
    border-style: solid;
    border-color:#660000;
    margin:0px;
    margin-left: 180px;
    border-image: 0;
    margin-top:5px;
    background-image:none;
    border-radius: 8px;
    font-size: 15px;
}
#login-div h2{
    padding-left:5px;
}