#form-div, input[type="text"]
{
    font-family: sans-serif;
    font-size:13px;
    color: #29A;
}
#form-div p
{
    font-size:20px;
    font-weight: bold;
}
#form-div input[type="submit"]
{
    color:white;
    background:#29A;
    font-size:16px;
    font-family:sans-serif;
    border-radius:5px;        
    height:30px;
    margin-top:5px;
}
