body
{
    font-family: sans-serif;
    color:#0066CC;
}


a
{
    text-decoration: none;    
    font-size:16px;    
    font-weight: bold;
    color:#0066CC;
}
h3
{
    text-decoration: underline;
    font-weight: bold;
    color:#CC3399;
    font-size:25px;
}

p{
    font-size: 12px;
}