<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition>  
        <h:head> 
            <h:outputStylesheet library="css" name="style.css"/>  
        </h:head>
        <h:body>  
            <h:form styleClass="form1">
                <h:commandButton value="reservations" action="reservationPage" styleClass="index-page-button" />      
                <h:commandButton value="login" action="loginPage" styleClass="index-page-button login" />
            </h:form>
            <br/>
        </h:body>
    </ui:composition>
</html>
