<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition>
        <f:loadBundle basename="configs" var="conf"/>
        <h:head>
            <h:outputStylesheet library="css" name="style.css"/>
        </h:head>
        <h:body>
            <h:form>               
                <div id="login-div">
                    <h2><h:outputText value="#{conf.login_title}" /></h2>
                    <input type="text" placeholder="Username" class="login-input"/><br/>
                    <input type="password" placeholder="Password"  class="login-input" /><br/>
                    <input type="submit" value="Login" id="login-button" />
                </div>
            </h:form>
        </h:body>
    </ui:composition>
</html>
