<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:cc="http://java.sun.com/jsf/composite/composites"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition>
        <h:head>
            <title>Facelet Title</title>
            <h:outputStylesheet library="css" name="style.css"/>  
        </h:head>
        <h:body>
            <h:form styleClass="f1">
                <cc:clientComposite
                    clientNameLabel="Name: "   
                    clientName="#{client.name}"
                    clientPhoneLabel="Phone: "
                    clientPhone="#{client.phone}" />
                <h:panelGroup styleClass="reservations-div" layout="block" id="reservations">
                    <ui:include src="reservationDetailsPage.xhtml"/>
                </h:panelGroup>  
                <h:panelGroup styleClass="buttons-div" layout="block">
                    <a4j:commandButton value="Reserve" action="#{reservation.reserve()}" styleClass="reserve-button" /> 
                    <a4j:commandButton value="+" action="#{reservation.addReservationDetails()}" render="reservations" styleClass="add-reservation-button"/>
                </h:panelGroup>
            </h:form>
        </h:body>
    </ui:composition> 
</html>
