<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <composite:interface>
        <composite:attribute name="clientNameLabel"/>
        <composite:attribute name="clientName" />
        <composite:attribute name="clientPhoneLabel"/>
        <composite:attribute name="clientPhone"/>
    </composite:interface>
    <composite:implementation>
         <h:panelGroup styleClass="reservation-div" layout="block">
        #{cc.attrs.clientNameLabel}: <h:inputText value="#{cc.attrs.clientName}" styleClass="input-text"/>
        <br/>
         </h:panelGroup>        
         <h:panelGroup styleClass="reservation-div" layout="block">
        #{cc.attrs.clientPhoneLabel}: <h:inputText value="#{cc.attrs.clientPhone}" styleClass="input-text"/>
        <br/>
         </h:panelGroup>
           </composite:implementation>

</html>
