<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <composite:interface>
        <composite:attribute name="clientNameLabel"/>
        <composite:attribute name="clientName" />
        <composite:attribute name="clientPhoneLabel"/>
        <composite:attribute name="clientPhone"/>
        <composite:attribute name="reservationDateLabel"/>
        <composite:attribute name="reservationDate"/>
        <composite:attribute name="reservationStartingHourLabel"/>
        <composite:attribute name="reservationStartingHour"/>
        <composite:attribute name="reservationPeriodLabel"/>
        <composite:attribute name="reservationPeriod"/>
        <composite:attribute name="reservationNoOfTablesLabel"/>
        <composite:attribute name="reservationNoOfTables"/>
        <composite:attribute name="reservationButtonAction" method-signature="java.lang.String reserve()"/>
        <composite:attribute name="reservationButtonLabel"/>
    </composite:interface>
    <composite:implementation>
        <h:form id="f1">          
            #{cc.attrs.clientNameLabel}: <h:inputText value="#{cc.attrs.clientName}"/>
            <br/>
            #{cc.attrs.clientPhoneLabel}: <h:inputText value="#{cc.attrs.clientPhone}"/>
            <br/>
            <div id="reservations">
                <div class="reservation">
                    <br/> 
                    #{cc.attrs.reservationDateLabel}: <rich:calendar value="#{cc.attrs.reservationDate}" /> <br/> 
                    #{cc.attrs.reservationStartingHourLabel} : <h:inputText value="#{cc.attrs.reservationStartingHour}" /><br/>
                    #{cc.attrs.reservationPeriodLabel}: <h:inputText value="#{cc.attrs.reservationPeriod}" /><br/>
                    #{cc.attrs.reservationNoOfTablesLabel}: <h:inputText value="#{cc.attrs.reservationNoOfTables}" />
                    <br/>
                </div>
            </div>
            <br/>
            <a4j:commandButton value="#{cc.attrs.reservationButtonLabel}" action="#{cc.attrs.reservationButtonAction}"/>
        </h:form>
    </composite:implementation>

</html>
