<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <composite:interface>
        <composite:attribute name="reservationTempsLabel"/>    
        <composite:attribute name="reservationDateLabel"/>
        <composite:attribute name="reservationDate"/>
        <composite:attribute name="reservationStartingHourLabel"/>
        <composite:attribute name="reservationStartingHour"/>
        <composite:attribute name="reservationPeriodLabel"/>
        <composite:attribute name="reservationPeriod"/>
        <composite:attribute name="reservationTypeOfTableLabel"/>
        <composite:attribute name="reservationTypeOfTable"/>
    </composite:interface>
    <composite:implementation>
        <h2><u>#{cc.attrs.reservationTempsLabel}</u></h2> 
        <c:forEach var="res" items="${reservation.reservationsList}">
            <h:panelGroup styleClass="reservation-details-div" layout="block">
                Date: ${res.reservationDetails.reservationDate}<br/>
                Starting hour: ${res.reservationDetails.startingHour}<br/>
                Period: ${res.reservationDetails.reservationPeriod}<br/>
                Type of table: ${res.reservationDetails.typeOfTable}<br/>
            </h:panelGroup>            
        </c:forEach>
        <br/>
        <h:panelGroup styleClass="reservation-div" layout="block">
            #{cc.attrs.reservationDateLabel} <rich:calendar value="#{cc.attrs.reservationDate}" styleClass="input-text" /> <br/> 
        </h:panelGroup>
        <h:panelGroup styleClass="reservation-div" layout="block">
            #{cc.attrs.reservationStartingHourLabel}  <h:inputText value="#{cc.attrs.reservationStartingHour}" styleClass="input-text"/> <br/>
        </h:panelGroup>
        <h:panelGroup styleClass="reservation-div" layout="block">
            #{cc.attrs.reservationPeriodLabel} <h:inputText value="#{cc.attrs.reservationPeriod}" styleClass="input-text" /> <br/>
        </h:panelGroup>
        <h:panelGroup styleClass="reservation-div" layout="block"> 
            #{cc.attrs.reservationTypeOfTableLabel} <h:inputText value="#{cc.attrs.reservationTypeOfTable}" styleClass="input-text"/> <br/>
        </h:panelGroup>
        <br/>
    </composite:implementation>
</html>
